.product-details-section{
    font-size: 20px;
}

.product-details{
    margin: 20px;
}

button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.1s ease-in;
}

button:hover{
    background-color: rgb(149, 139, 139);
    color: black;
}